= simple_form_for(@bucketlist, html: { class: 'form-horizontal'}) do |f|
	= f.input :title, label: "Bucketlist Title"
	= f.input :description, label: "Description"
	= f.input :url, label: "Link to inspiration"		
	%p
	= f.button :submit

